* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
html {
  font-size: 62.5%;
}
:root {
  /* COLOR VARIABLES */
  --color-primary: #c69963;
  --color-primary-dark: #b28451;

  --color-secondary: rgb(16, 29, 44);

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;

  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;

  /* FONT VARIABLES */
  --font-primary: "Nunito", sans-serif;
  --font-display: "Josefin Sans", sans-serif;

  /*  */
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.container {
  grid-template-rows: 8rem calc(100vh - 8rem) min-content min-content min-content 40vw repeat(
      3,
      min-content
    );
  grid-template-columns: minmax(5rem, 1fr) repeat(6, minmax(min-content, 20rem)) minmax(
      5rem,
      1fr
    );
  grid-template-areas:
    "nav      nav      nav      nav      nav      nav      nav      nav     "
    "header   header   header   header   header   header   header   header  "
    "realtors realtors realtors realtors realtors realtors realtors realtors"
    ".        services services services services services services .       "
    "story    story    story    story    story    story    story    story   "
    "goals    goals    goals    goals    goals    goals    goals    goals   "
    ".        homes    homes    homes    homes    homes    homes    .       "
    "gallery  gallery  gallery  gallery  gallery  gallery  gallery  gallery "
    "footer   footer   footer   footer   footer   footer   footer   footer  ";
}
.container {
  display: grid;
}
.nav {
  align-items: flex-start;
  padding-left: 4rem;
  grid-area: nav;
  background: var(--color-primary);
  padding-top: 4rem;
  display: flex;
  /* align-items: center; */
  flex-flow: column;
}
.ham {
  width: 70%;
  height: 0.2rem;
  background: white;
}
.ham::before {
  width: 100%;
  height: 0.2rem;
  background: white;
  content: "";
  display: block;
  transform: translateY(-1.5rem);
}
.ham::after {
  width: 100%;
  height: 0.2rem;
  background: white;
  content: "";
  display: block;
  transform: translateY(1.5rem);
}
.header {
  grid-area: header;
  background: linear-gradient(rgba(16, 29, 44, 0.83), rgba(16, 29, 44, 0.83)),
    url("./img/hero.jpeg");
  background-size: auto, auto;
  background-size: 100% 100%, cover;
  color: white;
  padding: 7rem;
  padding-top: 7rem;
  padding-top: 3rem;
  display: grid;
  grid-template-rows:
    minmax(5rem, 1fr) 3rem minmax(7rem, 12rem) minmax(5rem, 1fr)
    5rem;
}
.logo {
  height: 3rem;
  justify-self: center;
}

.header h4 {
  font-size: 1.6rem;
  font-family: var(--font-primary);
  color: var(--color-primary);
}
.header h1 {
  font-size: 3.2rem;
  font-family: var(--font-display);
  color: white;
}
.header h3 {
  font-size: 1.7rem;
  font-family: var(--font-display);
  color: white;
  background: var(--color-primary);
  justify-self: start;
  align-self: start;
  font-weight: lighter;
  padding: 1.5rem;
}
.header h5 {
  font-size: 1.5rem;
  font-family: var(--font-display);
  color: white;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  grid-gap: 1.5rem;
}
.header h5::before,
.header h5::after {
  content: "";
  height: 1px;
  width: 100%;
  display: block;
  background: white;
}
.companyLogos {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  justify-items: center;
}

.companyLogos img {
  width: 80%;
  height: 3rem;
}
.realtors {
  grid-area: realtors;
  background: var(--color-secondary);
  color: white;
  display: grid;
  align-content: center;
  grid-row-gap: 3rem;
}

.realtors h1 {
  justify-self: center;
}

.realtorList img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.realtorList {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-column-gap: 2rem;
  grid-row-gap: 4vh;
  justify-content: center;
  align-items: center;
}

.services {
  grid-area: services;
  /* background: lightseagreen; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 8rem;
  margin: 20rem 0;
}
.service
{
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  align-content: start;
}
.serviceHeading
{
  font-size: 2rem;
  font-family: var(--font-display);
}